<h1>Tabs - Simple </h1>

<mat-tab-group
  mat-align-tabs="start"
  animationDuration="500ms">
  <mat-tab label="tabName">
    Content
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
    </ng-template>
    Settings
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
    </ng-template>
    User
  </mat-tab>
</mat-tab-group>

<br><br>

<h1>Tabs - Stretch</h1>

<mat-tab-group
  mat-stretch-tabs
  >
  <mat-tab label="tabName">
    Content
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
    </ng-template>
    Settings
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
    </ng-template>
    User
  </mat-tab>
</mat-tab-group>

<br><br>

<h1>Tabs - Elevation </h1>

<mat-tab-group
  mat-stretch-tabs
  class="mat-elevation-z4"
  >
  <mat-tab label="tabName">
    Content
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
    </ng-template>
    Settings
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
    </ng-template>
    User
  </mat-tab>
</mat-tab-group>

<br><br>

<h1>Tabs - Below </h1>

<mat-tab-group
  mat-stretch-tabs
  class="mat-elevation-z4"
  headerPosition="below"
  >
  <mat-tab label="tabName">
    Content
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
    </ng-template>
    Settings
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
    </ng-template>
    User
  </mat-tab>
</mat-tab-group>

<br><br>
<h1>Tabs - Colors </h1>

<mat-tab-group
  class="mat-elevation-z4"
  headerPosition="above"
  color="warn"
  backgroundColor="primary"
  >
  <mat-tab label="tabName">
    Content
  </mat-tab>
  <mat-tab>
    <div class="mat-tab">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">settings</mat-icon>
      </ng-template>
      <h1>Settings</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sunt dolor nam architecto, iure repudiandae ullam esse molestiae in provident vitae ipsa tempore impedit ratione quas sit id excepturi laborum!
      </p>
    </div>
  </mat-tab>
  <mat-tab>
    <div class="mat-tab">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
      </ng-template>
      <h1>User</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, laudantium esse? Cupiditate culpa, veritatis vitae quos porro inventore consequatur aliquam cum cumque facere optio molestiae nam corrupti velit, a tenetur.
      </p>
    </div>
  </mat-tab>
</mat-tab-group>

<br><br>
