<h1>Progress bar and Spinner</h1>
<mat-progress-bar [value]="loading" color="primary"></mat-progress-bar>
<br>
<mat-progress-bar [value]="loading" color="accent"></mat-progress-bar>
<br>
<mat-progress-bar [value]="loading"color="warn"></mat-progress-bar>
<br>

<h1>Loading waiting case</h1>
<mat-progress-bar
[value]="queryValue"
color="warn"
[mode]="queryMode"
>
</mat-progress-bar>
<br>

<h1>Buffer</h1>
<mat-progress-bar
[value]="loading"
color="primary"
mode="buffer"
[bufferValue]="buffer"
>
</mat-progress-bar>
<br>

<h1>Spinners</h1>
<div class="spinners">
  <mat-spinner color="primary"></mat-spinner>
  <mat-spinner color="accent"></mat-spinner>
  <mat-spinner color="warn"></mat-spinner>
</div>
<br>
<h1>Progress Spinners</h1>
<mat-progress-spinner
  [value]="loading"
  color="primary">
</mat-progress-spinner>
<br>
