<div class="content mat-elevation-z4">
  <app-toolbar-title title="Courses" icon="fa-graduation-cap">
    <button mat-button-icon>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eum optio at, asperiores est beatae dolore et quia aliquid, vel eos veritatis obcaecati, facilis perferendis atque architecto earum nostrum harum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, veritatis. Beatae laboriosam nisi libero, nobis iure inventore natus dolorem. Vero ad cupiditate accusantium assumenda sapiente qui deleniti totam sint consectetur.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eum optio at, asperiores est beatae dolore et quia aliquid, vel eos veritatis obcaecati, facilis perferendis atque architecto earum nostrum harum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, veritatis. Beatae laboriosam nisi libero, nobis iure inventore natus dolorem. Vero ad cupiditate accusantium assumenda sapiente qui deleniti totam sint consectetur.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eum optio at, asperiores est beatae dolore et quia aliquid, vel eos veritatis obcaecati, facilis perferendis atque architecto earum nostrum harum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, veritatis. Beatae laboriosam nisi libero, nobis iure inventore natus dolorem. Vero ad cupiditate accusantium assumenda sapiente qui deleniti totam sint consectetur.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eum optio at, asperiores est beatae dolore et quia aliquid, vel eos veritatis obcaecati, facilis perferendis atque architecto earum nostrum harum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, veritatis. Beatae laboriosam nisi libero, nobis iure inventore natus dolorem. Vero ad cupiditate accusantium assumenda sapiente qui deleniti totam sint consectetur.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nemo, ducimus labore, mollitia incidunt vero deleniti eligendi praesentium non iusto, aliquam deserunt. Temporibus nostrum nobis omnis et facere commodi ipsa.
    <router-outlet></router-outlet>
  </div>
</div>
